Importing the Dependencies

In [18]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Loading the Dataset

In [19]:
card_data=pd.read_csv("/content/creditcard.csv")

In [20]:
#checking for missing values
card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [21]:
#distribution of legit and fraud transactions
card_data["Class"].value_counts()

0    284315
1       492
Name: Class, dtype: int64

Data is highly unbalanced

In [22]:
#Splitting data
legit=card_data[card_data.Class==0]
fraud=card_data[card_data.Class==1]

In [23]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [24]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [25]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

Undersampling(to have similar distribution of legit and fraud transaction)

In [26]:
legit_sample=legit.sample(n=492)

Joining the dataset

In [27]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)
#axis=0 means rows and axis =1 means column

In [28]:
new_dataset['Class'].value_counts()

1    492
0    492
Name: Class, dtype: int64

In [29]:
new_dataset.groupby("Class").mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      95576.091463  0.109957  0.040309  ... -0.003013  0.017233   78.908272
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

Splitting data into features and targets

In [30]:
x=new_dataset.drop(columns="Class",axis=1)
y=new_dataset['Class']
print(x)
print(y)

            Time        V1        V2  ...       V27       V28  Amount
194252  130499.0  1.743950 -0.142570  ... -0.047837 -0.030401  165.60
219069  141584.0  1.699057 -0.785578  ... -0.069265 -0.017998  165.05
55101    46780.0 -0.580824 -0.531604  ...  0.082039 -0.080295   27.21
57418    47902.0  0.450160 -1.113891  ...  0.002891  0.057448  299.86
208113  136977.0 -7.339861 -8.904299  ... -0.670326  1.363532  309.06
...          ...       ...       ...  ...       ...       ...     ...
279863  169142.0 -1.927883  1.125653  ...  0.292680  0.147968  390.00
280143  169347.0  1.378559  1.289381  ...  0.389152  0.186637    0.76
280149  169351.0 -0.676143  1.126366  ...  0.385107  0.194361   77.89
281144  169966.0 -3.113832  0.585864  ...  0.884876 -0.253700  245.00
281674  170348.0  1.991976  0.158476  ...  0.002988 -0.015309   42.53

[984 rows x 30 columns]
194252    0
219069    0
55101     0
57418     0
208113    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Splitting into trainig and test data

In [31]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)
#stratify=y(reason is to have no. of legit,fraud data equal in both test and training data)

In [32]:
print(x.shape,x_train.shape,x_test.shape)
print(y.shape,y_train.shape,y_test.shape)

(984, 30) (787, 30) (197, 30)
(984,) (787,) (197,)

Model Training
(Logistic Regression)

In [33]:
model=LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Model Evaluation

In [34]:
#accuracy on training data
x_train_pred=model.predict(x_train)
training_data_accuracy=accuracy_score(x_train_pred,y_train)
print("training accuracy=",training_data_accuracy)
#accuracy on testing data
x_test_pred=model.predict(x_test)
test_data_accuracy=accuracy_score(x_test_pred,y_test)
print("testing accuracy=",test_data_accuracy)

training accuracy= 0.9466327827191868
testing accuracy= 0.9289340101522843